html, body {
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;
    background: #1F2937;
}

h1 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 118px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.025em;

    /* white */

    color: #FFFFFF;
}

p {
    /* Supporting text */


    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 208px;

    /* text-xl/leading-7/font-normal */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Medium grey */

    color: #D5D4D8;
}

button {
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;

position: absolute;
width: 223px;
height: 42px;
left: 52px;
top: 287px;

background: #10B981;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

.line {
    position: absolute;
width: 446px;
height: 0px;
left: 52px;
top: 364px;

border: 1px solid #2F3E53;
}


.output1, .output2, .output3, .output4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output1 {
/* Rectangle 95 */


position: absolute;
width: 211px;
height: 39px;
left: 52px;
top: 399px;

background: #273549;
border-radius: 6px;
}

.output2 {
    position: absolute;
width: 211px;
height: 39px;
left: 287px;
top: 399px;

background: #273549;
border-radius: 6px;
}

.output3 {
    position: absolute;
width: 211px;
height: 39px;
left: 52px;
top: 457px;

background: #273549;
border-radius: 6px;
}

.output4 {
    position: absolute;
width: 211px;
height: 39px;
left: 287px;
top: 457px;

background: #273549;
border-radius: 6px;
}

div > span {
    color: #5DEF92;
}

h1 > span {
    color: #5DEF92;
}

.secondContainer > input {
    position: absolute;
    top: 305px;
    left: 290px;
    width: 30px;
}

.secondContainer > label {
    position: absolute;
    top: 280px;
    left: 290px;
    color: white;
   
}